<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="main w-full min-h-screen bg-zinc-900 p-10 text-white">
        <a href="/" class="text-blue-500 inline-block mb-10">Go back to home</a>
        <form action="/edit" method="post">
 
            <input class="block px-5 py-2 bg-zinc-800 w-1/4 rounded-lg" type="text" value="<%= filename %>" placeholder="Previous Name" readonly name="prev" >      
            
            <!-- we modified disabled="true" to readonly name because disabled input data is not get submitted along with sorm , so it is not visible in body object , so it also cant get renamed -->

            <textarea class="block px-5 py-2 mt-2 resize-none bg-zinc-800 w-1/4 rounded-lg outline-none"  placeholder="New Name" name="new"></textarea>
            <input class="mt-2 bg-yellow-600 px-5 py-2 rounded-md" type="submit" value="Update Name">

        </form>
    </div>

    

    <script src="/javascripts/script.js"></script>
</body>
</html>